{% extends "base.html" %}
{% load static %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<div class="grid-x grid-padding-x">
    <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
        <p>{{text|safe}}</p>
         <form action="{{ request.path }}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="button expanded" value="{{ button|default:'Submit' }}" />
        </form>
    </div>
</div>
{% endblock %}