{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu" data-dropdown-menu>
                <li class="menu-text">Assignment 5</li>
                {% block navbar %}
                {% endblock %}
            </ul>
        </div>
    </div>
    {% block content %}
    {% endblock %}

    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.min.js' %}"></script>
    <script src="{% static 'js/vendor/app.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>