{% extends "base.html" %}
{% load static %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<div class="grid-container full">
    <div class="grid-x grid-padding-x">
        <div class="grid-y grid-padding-y large-9 medium-12 small-12 cell">
            {% for c in chars %}
            <div class="character-brief cell">
                <h3>{{c.name}}</h3> 
                <h4>{{c.class}} {{c.level}}</h4>
                <div>HP: {{c.hp_max}} | AC: {{c.ac}} | Notice: {{c.notice}} </div>
                <hr>
            </div>
            {% endfor %}
        </div>
        <div class="grid-y grid-padding-y  ">
            <div class="cell">
                <h4>Add Player</h4>   
            </div>
            <div class="grid-y grid-padding-y">
                
            </div>
            <form id="websocket-form">
                <input type="text" name="message"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}