{% extends "base.html" %}
{% load static %}

{% block title %}
{{campaign}}
{% endblock %}

{% block content %}
<div class="grid-container full">
    <div class="grid-x grid-padding-x">
        <div class="grid-y grid-padding-y large-9 medium-12 small-12 cell">
            {% for c in chars %}
            <div class="character-brief cell">
                <h3>{{c.name}}</h3> 
                <h4>{{c.class}} {{c.level}}</h4>
                <div>HP: {{c.hp_max}} | AC: {{c.ac}} | Notice: {{c.notice}} </div>
            </div>
            {% endfor %}
        </div>
        <div class="cell grid-y medium-grid-frame grid-padding-y">
            <div class="cell">
                <h4>Add Player</h4>   
            </div>
            <div id="dicelog" class="cell large-6 small-6 grid-y" style="overflow:auto">
            </div>
            <form class="cell" id="websocket-form">
                <label for="message">Roll Entry:</label>
                <input type="text" name="message"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script id="roll_script" src="{% static 'js/roll_handler.js' %}" data-room="{{campaign_id}}" data-user="{{username}}"></script>
{% endblock %}