{% extends "base.html" %}
{% load static %}

{% block title %}
{{sheet.name}}
{% endblock %}

{% block content %}
<div class="grid-container full">
    <div class="grid-x grid-padding-x">
        <div id="character-sheet" class="grid-y grid-padding-y large-9 medium-12 cell">
            <h2>{{sheet.name}}</h2>
            <div class="grid-x grid-padding-x cell">
                <h4 class="medium-2 cell">{{sheet.vocation}} {{sheet.level}}</h4>
                <h4 class="medium-2 cell">Max HP: {{sheet.hp}}</h4>
            </div>
            <div class="grid-x grid-padding-x small-up-6 cell">
                {% for a in sheet.attributes.items %}
                    <div class="cell"> {{a.0|upper}}: {{a.1}}</div>
                {% endfor %}
            </div>
            <div class="grid-x grid-padding-x cell">
                <div class="grid-x grid-padding-x small-up-3 medium-6 cell">
                {% for a in sheet.skills.items %}
                    <div class="cell"> {{a.0}}: {{a.1}}</div>
                {% endfor %}
                </div>
                <div class="grid-y medium-6 cell">
                    <h3 class="cell">Foci</h3>
                    {% for f in sheet.foci %}
                        <div class="cell">{{f}}</div>
                    {% endfor %}
                </div>
                <div class="grid-y medium-6 cell">
                    <h3 class="cell">Inventory</h3>
                    {% for i in sheet.inventory %}
                        <div class="cell">{{i.quantity}}x {{i.name}}</div>
                    {% endfor %}
                    <a href="{{request.path}}/add_item" class="cell button full">Add Item</a>
                </div>
                {% if sheet.vocation != 'Warrior' %}
                <div class="grid-y medium-6 cell">
                    <h3 class="cell">Spells</h3>
                    {% for s in sheet.spells %}
                        <div class="cell">{{s}}</div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="cell grid-y grid-padding-y auto">
            {% if campaign_id != -1 %}
            <div id="dicelog" class="cell large-6 small-6 grid-y" style="overflow:auto">
            </div>
            <form class="cell " id="websocket-form">
                <label for="message">Roll Entry:</label>
                <input type="text" name="message"/>
            </form>
            {% else %}
            <a href="{{request.path}}/add_campaign" class="cell button full" style="margin-top: 10px;">Join Campaign</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% if campaign_id != -1 %}
<script id="roll_script" src="{% static 'js/roll_handler.js' %}" data-room="{{campaign_id}}" data-user="{{username}}"></script>
{% endif %}
{% endblock %}