{% extends "base.html" %}
{% load static %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<div class="grid-container full">
    <div class="grid-x grid-padding-x">
        <div id="character-sheet" class="grid-y grid-padding-y large-9 medium-12 small-12 cell">
            <div>
                
            </div>
        </div>
        <div class="cell grid-y medium-grid-frame grid-padding-y">
            <div id="dicelog" class="cell large-6 small-6 grid-y" style="overflow:auto">
            </div>
            <form class="cell" id="websocket-form">
                <label for="message">Roll Entry:</label>
                <input type="text" name="message"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script id="roll_script" src="{% static 'js/roll_handler.js' %}" data-room="{{campaign_id}}"></script>
{% endblock %}