{% extends "base.html" %}
{% load static %}

{% block title %}
{{sheet.name}}
{% endblock %}

{% block content %}
<div class="grid-container full">
    <div class="grid-x grid-padding-x">
        <div id="character-sheet" class="grid-y grid-padding-y large-9 medium-12 cell">
            <div>
                
            </div>
        </div>
        <div class="cell grid-y grid-padding-y auto">
            {% if campaign_id != -1 %}
            <div id="dicelog" class="cell large-6 small-6 grid-y" style="overflow:auto">
            </div>
            <form class="cell " id="websocket-form">
                <label for="message">Roll Entry:</label>
                <input type="text" name="message"/>
            </form>
            {% else %}
            <a href="{{request.path}}/add_campaign" class="cell button full" style="margin-top: 10px;">Join Campaign</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% if campaign_id != -1 %}
<script id="roll_script" src="{% static 'js/roll_handler.js' %}" data-room="{{campaign_id}}" data-user="{{username}}"></script>
{% endif %}
{% endblock %}