{% extends "base.html" %}
{% load static %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<div class="grid-x grid-padding-x">
    <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
        In order to best create your character, I recommend utilizing the rules found in the first chapter of the <a href="https://www.drivethrurpg.com/product/348809/Worlds-Without-Number-Free-Edition">free version of Worlds Without Number.</a>
        <form action="/create/character" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="button expanded" value="Create" />
        </form>
    </div>
</div>
{% endblock %}